force-app/main/default/flows/Call_After_Insert_Lead_Made_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_to_Engaging</name>
        <label>Assign to Engaging</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Engaging</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_First_Contacted</name>
        <label>Set First Contacted</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.First_Contacted_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Disposition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Last_Result_and_Contact_Date</name>
        <label>Set Last Result and Contact Date</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Last_Call_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.canon_app__Disposition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Last_Contacted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.canon_app__Timestamp__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>First_Contacted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Fields</name>
        <label>Set Lead Fields</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Last_Connected_Call_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.canon_app__Timestamp__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Lead_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Change_Lead_Status</name>
        <label>Change Lead Status?</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Update_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_to_Engaging</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uncontacted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contacted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.canon_app__Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Made Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.canon_app__Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missed Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Engaging</targetReference>
            </connector>
            <label>Set to Engaging</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Call_Focus</name>
        <label>Check Call Focus</label>
        <locationX>270</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.canon_app__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Account</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.canon_app__Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.canon_app__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Disposition</name>
        <label>Disposition</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Change_Lead_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Made_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.canon_app__Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Made Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Fields</targetReference>
            </connector>
            <label>Made Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Contacted</name>
        <label>First Contacted?</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Disposition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_First_Contact_Attempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.First_Contacted_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_First_Contacted</targetReference>
            </connector>
            <label>Is First Contact Attempt</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Call After Insert Lead Made Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call After Insert Lead Made Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Last_Result_and_Contact_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.canon_app__Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>182</locationX>
        <locationY>1703</locationY>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Call_Focus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>canon_app__Lead__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>canon_app__Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Made Contact</stringValue>
            </value>
        </filters>
        <object>canon_app__Call__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
