force-app/main/default/flows/Call_After_Create_Log_as_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_New_Fields</name>
        <label>Set New Fields</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.CallDisposition</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.canon_app__Disposition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.CallDurationInSeconds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.canon_app__Call_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.CallObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.CallType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.canon_app__Direction__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TargetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Updated_Fields</name>
        <label>Set Updated Fields</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.CallDisposition</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.canon_app__Disposition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.CallDurationInSeconds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.canon_app__Call_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.CallObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.CallType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.canon_app__Direction__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TargetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Task.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistTaskDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Existing</name>
        <label>Check Existing</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Set_Updated_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Task</defaultConnectorLabel>
        <rules>
            <name>New_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Fields</targetReference>
            </connector>
            <label>New Task</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CallSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Call: &apos; +  IF({!$Record.canon_app__Disposition__c} = &apos;&apos;, &apos;No Dispo&apos;, {!$Record.canon_app__Disposition__c}) +
&apos; - &apos; + TEXT({!$Record.canon_app__Timestamp__c})</expression>
    </formulas>
    <formulas>
        <name>CreateDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.canon_app__Timestamp__c})</expression>
    </formulas>
    <formulas>
        <name>ExistTaskDescription</name>
        <dataType>String</dataType>
        <expression>{!Get_Existing_Task.Description} + 
&apos;Recording: &apos; + {!$Record.canon_app__Recording_Url__c}</expression>
    </formulas>
    <formulas>
        <name>TargetId</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.canon_app__Lead__c}), {!$Record.canon_app__Contact__c}, {!$Record.canon_app__Lead__c})</expression>
    </formulas>
    <formulas>
        <name>TaskDescription</name>
        <dataType>String</dataType>
        <expression>&apos;Recording: &apos;+{!$Record.canon_app__Recording_Url__c}</expression>
    </formulas>
    <interviewLabel>Call After Create Log as Activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call After Create Log as Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputReference>Task</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Task</name>
        <label>Get Existing Task</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CallObject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputReference>Task</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Task</targetReference>
        </connector>
        <object>canon_app__Call__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.canon_app__User__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>UsersIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
