force-app/main/default/flows/Campaign_After_Insert_Create_Email_Statuses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Status_to_List</name>
        <label>Add Status to List</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Statuses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_New_Statuses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Status</name>
        <label>Set New Status</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Status.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Status.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_New_Statuses.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Status.IsDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_New_Statuses.Is_Default__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Status.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_New_Statuses.Has_Responded__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Status_to_List</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Campaign After Insert Create Email Statuses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign After Insert Create Email Statuses</label>
    <loops>
        <name>Loop_through_New_Statuses</name>
        <label>Loop through New Statuses</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Campaign_Status_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Statuses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Statuses</name>
        <label>Create New Statuses</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Delete_Existing_Statuses</targetReference>
        </connector>
        <inputReference>Statuses</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Statuses</name>
        <label>Delete Existing Statuses</label>
        <locationX>176</locationX>
        <locationY>1151</locationY>
        <inputReference>Get_Existing_Statuses</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Campaign_Status_Metadata</name>
        <label>Get Campaign Status Metadata</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Statuses</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Email_Campaign_Status__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Statuses</name>
        <label>Get Existing Statuses</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_New_Statuses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasResponded</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campaign_Status_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Status</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>Statuses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
</Flow>
