force-app/main/default/flows/Contract_After_Upsert_Contract_End_Reminders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_Task_List_1</name>
        <label>Add to Task List 1</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X7_days_to_Contract_End</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Task_List_2</name>
        <label>Add to Task List 2</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract_Renewal_Reminder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>One_Month_to_Contract_End</name>
        <label>One Month to Contract End</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract Ends in 30 Days</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThirtyDaysPrior</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThirtyDaysPriorDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assess next steps if a renewal is required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Task_List_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X7_days_to_Contract_End</name>
        <label>7 days to Contract End</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract Ends in 7 Days</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SevenDaysPrior</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SevenDaysPriorDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assess next steps if a renewal is required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Task_List_2</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>SevenDaysPrior</name>
        <dataType>Date</dataType>
        <expression>{!$Record.EndDate} - 7</expression>
    </formulas>
    <formulas>
        <name>SevenDaysPriorDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!SevenDaysPrior})</expression>
    </formulas>
    <formulas>
        <name>ThirtyDaysPrior</name>
        <dataType>Date</dataType>
        <expression>{!$Record.EndDate} - 30</expression>
    </formulas>
    <formulas>
        <name>ThirtyDaysPriorDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!ThirtyDaysPrior})</expression>
    </formulas>
    <interviewLabel>ContractAfterUpsert_ContractEndReminders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract After Upsert_Contract End Reminders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contract_Renewal_Reminder</name>
        <label>Create Contract Renewal Reminder</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <inputReference>Tasks</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>One_Month_to_Contract_End</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
