force-app/main/default/flows/Event_After_Create_Update_Reminders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>One_Hour_Reminder_Text</name>
        <label>One Hour Reminder Text</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>NewScheduledText.canon_app__Scheduled_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OneHourBefore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewScheduledText.canon_app__Override_Template_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>True</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewScheduledText.canon_app__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewScheduledText.canon_app__Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewScheduledText.canon_app__Additional_Ids__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewScheduledText.canon_app__Text_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1RDn0000006vN6MAI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewScheduledTexts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewScheduledText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Scheduled_Texts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Days_Until_Event</name>
        <label>Days Until Event</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Create_Scheduled_Texts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_or_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>StartOneDayBefore</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OneHourBefore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>One_Hour_Reminder_Text</targetReference>
            </connector>
            <label>1 or More</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhoId_Is_Set</name>
        <label>WhoId Is Set</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Days_Until_Event</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>contactId</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!$Record.WhoId}, 3) = &apos;003&apos;, {!$Record.WhoId}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>DaysUntilOneDayBefore</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ActivityDate} - TODAY()</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>leadId</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!$Record.WhoId}, 3) = &apos;00Q&apos;, {!$Record.WhoId}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>OneHourBefore</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.StartDateTime} - (1/24)</expression>
    </formulas>
    <formulas>
        <name>StartOneDayBefore</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.StartDateTime} - 1</expression>
    </formulas>
    <interviewLabel>Event After Create Update Reminders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event After Create Update Reminders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Scheduled_Texts</name>
        <label>Create Scheduled Texts</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <inputReference>NewScheduledTexts</inputReference>
    </recordCreates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WhoId_Is_Set</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NewScheduledText</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>canon_app__Scheduled_Text__c</objectType>
    </variables>
    <variables>
        <name>NewScheduledTexts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>canon_app__Scheduled_Text__c</objectType>
    </variables>
</Flow>
