force-app/main/default/flows/Lead_After_Status_Change_Cadence_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Update_List</name>
        <label>Add to Update List</label>
        <locationX>940</locationX>
        <locationY>644</locationY>
        <assignmentItems>
            <assignToReference>UpdateCadences</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Cadences</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Cadences</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cadence_Inactive</name>
        <label>Set Cadence Inactive</label>
        <locationX>943</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Cadences.canon_app__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Deactivate_Required</name>
        <label>Check if Deactivate Required</label>
        <locationX>1313</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deactivate_Cadences</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateCadences</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cadences</targetReference>
            </connector>
            <label>Deactivate Cadences</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Template_is_Null</name>
        <label>Check if Template is Null</label>
        <locationX>739</locationX>
        <locationY>1098</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Template_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CadenceTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cadence</targetReference>
            </connector>
            <label>Template Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Status_Change</name>
        <label>Which Status Change</label>
        <locationX>731</locationX>
        <locationY>797</locationY>
        <defaultConnector>
            <targetReference>Check_if_Deactivate_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discovery_7_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engaging</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Engaging_Cadence</targetReference>
            </connector>
            <label>Engaging Cadence</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>created7DaysLater</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 7</expression>
    </formulas>
    <interviewLabel>Lead After Status Change Cadence Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead After Status Change Cadence Updates</label>
    <loops>
        <name>Loop_Through_Cadences</name>
        <label>Loop Through Cadences</label>
        <locationX>736</locationX>
        <locationY>515</locationY>
        <collectionReference>Get_Active_Cadences</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Cadence_Inactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Which_Status_Change</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cadence</name>
        <label>Create Cadence</label>
        <locationX>756</locationX>
        <locationY>1300</locationY>
        <connector>
            <targetReference>Check_if_Deactivate_Required</targetReference>
        </connector>
        <inputAssignments>
            <field>canon_app__Cadence_Template__c</field>
            <value>
                <elementReference>CadenceTemplate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>canon_app__Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>canon_app__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>canon_app__Cadence__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Cadences</name>
        <label>Get Active Cadences</label>
        <locationX>738</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Cadences</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>canon_app__Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>canon_app__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>canon_app__Cadence__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Engaging_Cadence</name>
        <label>Get Engaging Cadence</label>
        <locationX>742</locationX>
        <locationY>942</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Template_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engaging Lead Cadence Template</stringValue>
            </value>
        </filters>
        <object>canon_app__Cadence_Template__c</object>
        <outputReference>CadenceTemplate</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cadences</name>
        <label>Update Cadences</label>
        <locationX>1331</locationX>
        <locationY>1479</locationY>
        <inputReference>UpdateCadences</inputReference>
    </recordUpdates>
    <start>
        <locationX>613</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Active_Cadences</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Uncontacted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Contacted</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CadenceTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>canon_app__Cadence_Template__c</objectType>
    </variables>
    <variables>
        <name>UpdateCadences</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>canon_app__Cadence__c</objectType>
    </variables>
</Flow>
